* {
  margin: 0;
  padding: 0;
}


#game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #fff solid 2px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

button {
  border: 1px solid #212121;
  border-radius: 4px;
  padding: 4px;
  background-color: #f2f2f2;
}